#topics{
    background-color: black;
    color: white;
    padding: 3px 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 13px;
    box-shadow: 0 0 2px rgba(21, 20, 20, 0.898);
    cursor: pointer;
} 