@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color:#ffffff;
  --color : #1a202c;
  --Secondary-text-color: rgba(255, 255, 255, 0.87);
  --Secondary-background-color: #242424;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg-color);
  color:var(--color);
}

.choose-container{
  box-shadow: 0 0 3px #292524;
  background-color: #242424;
}

.box-for-opponent{
  padding: 20px;
  border: 1px solid rgb(193, 185, 185);
  cursor: pointer;
}

.images-section{
  width: 90px;
  height:90px;
  border-radius: 50%;
}

.box-data{
  padding: 30px 20px 30px 20px;
  border: 1px solid rgb(193, 185, 185);
  margin: 20px 20px 0 20px;
}

.box-for-opponent-and-topic{
  width: 70px;
  height:70px;
  border-radius: 50%;
}
/* button:hover {
  border-color: #646cff;
} */

.fakeopponentlayout{
  border: 1px solid black;
  padding: 10px;
}

.box-data2{
  padding: 15px;
  border: 1px solid rgb(193, 185, 185);
}